.header-root-div {
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    top: 0;
    margin: 0;
    min-height: 60px;
    border: 0;
    border-bottom: 1px solid #fff4;
}