.weather-card {
    margin: 8px auto;
    width: 292px;
    padding: 16px 4px;
    color: #fff;
    display: flex;
    flex-direction: column;
    border: 1px solid #aaaa;
    font-family: Inter, sans-serif;
}

.weather-header {
    font-size: 14px;
    opacity: 0.8;
}

.weather-main {
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.weather-main img {
    width: 48px;
    height: 48px;
}

#weather-temp {
    font-size: 32px;
    font-weight: 600;
}

.weather-meta {
    font-size: 12px;
    opacity: 0.7;
    display: flex;
    flex-direction: column;
}
.flex-cont {
    max-width: 700px;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-items: start;
    justify-content: center;
    margin: 0 auto;
    /* border: 1px solid #aaaa; */
    gap: 2px;
}
.flex-sub-cont {
    display: flex;
    flex-direction: column;
    /* border: 1px solid #aaaa; */
    margin: 0 auto;
}

@media only screen and (max-width: 600px) {
    .flex-cont {
        flex-direction: column;
    }
}